#parent-container {
    display: flex;
    flex-direction: column;
}

#header {
    margin: 0 auto;
}

.sketch-pad {
    display: flex;
    margin: 0 auto;
}

#grid-container {
    display: grid;
    width: 650px;
    height: 650px;
    border: 10px solid silver;
    border-style: ridge;
}

#control-box {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 650px;
    border: 10px solid silver;
    border-style: ridge;
    /* background-image: linear-gradient(to right, #fc00ff, #00dbde); /* I like this gradient, might come back to it*/
    background-image: linear-gradient(to right, #2c3e50, #3498db);
}

#side-settings-div {
    display: flex;
    margin: 20px auto;
}

#input-box {
    height: 30px;
    text-align: center;
    width: 58.359px;
    border-radius: 6px;
    margin-right: 5px;
}

#submit-button {
    height: 36px;
    border-radius: 6px;
    margin-left: 5px;
}

#download-reset-div {
    display: flex;
    margin: 20px auto;
}

#download-button {
    height: 36px;
    border-radius: 6px;
    margin-left: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    background-image: linear-gradient(to right, #00C9FF, #92FE9D);
}

#reset-button {
    height: 36px;
    border-radius: 6px;
    margin-left: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    background-image: linear-gradient(to right, #B24592, #F15F79);
}

.grid-item {
    outline: 1px solid lightgrey;
    margin: 0;
}

.colored-in {
    background-color: black;
}