@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Share+Tech+Mono&display=swap');

body {
    background-image: linear-gradient(to right, #8e9eab, #eef2f3, #8e9eab);
}

#parent-container {
    display: flex;
    flex-direction: column;
}

#header {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid silver;
    border-style: ridge;
    width: 990px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, #8e9eab, #eef2f3, #8e9eab);
    box-shadow: 15px 10px 40px rgb(42, 42, 42);
}

#header h1 {
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
    margin: 0;
}

.sketch-pad {
    display: flex;
    margin: 0 auto;
}

#grid-container {
    display: grid;
    width: 650px;
    height: 650px;
    border: 5px solid silver;
    border-style: ridge;
    box-shadow: 15px 10px 40px rgb(42, 42, 42);
}

#control-box {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 650px;
    border: 5px solid silver;
    border-style: ridge;
    /* background-image: linear-gradient(to right, #fc00ff, #00dbde); /* I like this gradient, might come back to it*/
    background-image: linear-gradient(80deg, #8e9eab, #eef2f3, #8e9eab);
    box-shadow: 15px 10px 40px rgb(42, 42, 42);
}

#side-settings-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto;
}

#set-side-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 80px;
    padding: 15px;
    border: 5px solid silver;
    border-style: ridge;
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.9rem;
    text-align: center;
    color: rgb(10, 184, 10);
}

.typeNumberHere {
    border-left: 5px solid silver;
    border-right: 5px solid silver;
    border-bottom: 5px solid silver;;
    border-top: none;
    border-style: ridge;
    width: 70px;
    height: 44px;
    padding: 2px;
    background-color: #d1dae2;
    color: black;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.8rem;
    text-align: left;
}

#input-box {
    height: 30px;
    text-align: center;
    width: 70px;
    height: 46px;
    border-left: 5px solid silver;
    border-right: 5px solid silver;
    border-bottom: 5px solid silver;;
    border-top: none;
    border-style: ridge;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    background-color: black;
    color: rgb(10, 184, 10);
}

#submit-button {
    height: 36px;
    min-width: 90px;
    height: 55px;
    border-left: 5px solid silver;
    border-right: 5px solid silver;
    border-bottom: 5px solid silver;;
    border-top: none;
    border-style: ridge;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
}

#submit-button:hover {
    background-color: orange;
}

#draw-erase-reset {
    display: flex;
    margin: 0 auto;
}

#draw-button,
#erase-button,
#reset-button {
    min-width: 100px;
    min-height: 36px;
    max-height: 36px;
    border-radius: 6px;
    margin: 10px 5px;
    transition: all 0.5s;
    font-family: 'Share Tech Mono', monospace;
}

#draw-button:hover,
#erase-button:hover,
#reset-button:hover {
    background-color: orange;
}

#colorful-container {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 5px auto;
}

#color-picker-div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 320px;
    font-family: 'Share Tech Mono', monospace;
}

#choice-box,
#rainbow-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.select-color,
.select-rainbow {
    width: 148px;
    padding: 3px 0;
    text-align: center;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top: 4px solid white;
    background-color: black;
    color: rgb(10, 184, 10);
    z-index: 5;
}

#current-color {
    width: 100px;
    height: 50px;
    border-left: 8px solid white;
    border-right: 8px solid white;
    border-bottom: 8px solid white;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    transition: all 0.5s;
}

#color-input {
    min-width: 156px;
    height: 70px;
    border: none;
    background-color: white;
}

.rainbow-button-active {
    width: 62px;
    height: 62px;
    border: 4px solid orange;
    margin-top: 10px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.select-from-palette {
    margin: 10px auto 0;
    width: 300px;
    text-align: center;
    border-left: 8px solid white;
    border-right: 8px solid white;
    border-top: 8px solid white;
    background-color: black;
    color: rgb(10, 184, 10);
    font-family: 'Share Tech Mono', monospace;
    padding: 3px 0;
}

#color-palette-container {
    display: grid;
    width: 300px;
    height: 150px;
    margin: 0 auto 0;
    border: 8px solid white;
}

.active-box {
    box-shadow: rgb(252, 184, 59) 1px 5px 10px 1px
}

.active-current-color {
    box-shadow: rgb(252, 184, 59) 2px 10px 10px 5px
}

.active-button {
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    background: linear-gradient(to right, #b24592, #f15f79);
    border: 4px solid white;
    box-shadow: rgb(252, 184, 59) 2px 2px 10px 5px
}

.rainbow-button {
    width: 148px;
    height: 62px;
    border: 4px solid white;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.active-rainbow {
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    width: 62px;
    height: 62px;
    border: 4px solid white;
    margin-top: 10px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    box-shadow: rgb(252, 184, 59) 2px 2px 10px 5px
}

.grid-item {
    z-index: 10;
    background-color: white;
    outline: 1px solid lightgrey;
    margin: 0;
}

#color-box {
    outline: 1px solid lightgrey;
    margin: 0;
}