#parent-container {
    display: flex;
    flex-direction: column;
}

#header {
    margin: 0 auto;
}

.sketch-pad {
    display: flex;
    margin: 0 auto;
}

#grid-container {
    display: grid;
    width: 650px;
    height: 650px;
    border: 10px solid silver;
    border-style: ridge;
}

#control-box {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 650px;
    border: 10px solid silver;
    border-style: ridge;
    /* background-image: linear-gradient(to right, #fc00ff, #00dbde); /* I like this gradient, might come back to it*/
    background-image: linear-gradient(to right, #2c3e50, #3498db);
}

#side-settings-div {
    display: flex;
    margin: 20px auto;
}

#input-box {
    height: 30px;
    text-align: center;
    width: 58.359px;
    border-radius: 6px;
    margin-right: 5px;
}

#submit-button {
    height: 36px;
    border-radius: 6px;
    margin-left: 5px;
}

#draw-erase-reset {
    display: flex;
    margin: 20px auto;
}

#draw-button,
#erase-button,
#reset-button {
    height: 36px;
    border-radius: 6px;
    margin: 0 5px;
}

#colorful-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 10px solid white;
    margin: 20px auto;
}

#color-input {
    width: 70px;
    height: 70px;
}

#color-palette-container {
    display: grid;
    width: 300px;
    height: 150px;
    margin: 10px 0;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

.active-button {
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    background: linear-gradient(to right, #c02425, #f0cb35);
}

.grid-item {
    outline: 1px solid lightgrey;
    margin: 0;
}

.color-box {
    outline: 1px solid lightgrey;
    margin: 0;
}